[run]
relative_files = true
source = TraceLens
omit =
    TraceLens/EventReplay/*
    TraceLens/PerfModel/benchmarking/*
    TraceLens/PerfModel/origami_helper.py
    TraceLens/PerfModel/run_perf_model.py

[paths]
source =
    TraceLens/
    */TraceLens/
    /__w/TraceLens/TraceLens/TraceLens/

[report]
show_missing = true

[xml]
output = coverage.xml
