recursive-include TraceLens/AgenticMode *.md
recursive-include TraceLens/AgenticMode */.cursor/skills/*
recursive-include TraceLens/AgenticMode */.cursor/agents/*
recursive-include TraceLens/AgenticMode/Standalone/utils/arch *.json
