recursive-include TraceLens/Agent *.md
recursive-include TraceLens/Agent */.cursor/skills/*
recursive-include TraceLens/Agent */.cursor/agents/*
recursive-include TraceLens/Agent/Analysis/utils/arch *.json
